<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!--联网请求-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/f"
        android:label="Weather"
        android:roundIcon="@mipmap/f"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".city_manager.CityManagerActivity" />
        <activity android:name=".city_manager.SearchCityActivity" />
        <activity android:name=".city_manager.DeleteCityActivity" />

    </application>

</manifest>